<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flyjaky.supermarket.dao.MenuDao" >
  <resultMap id="BaseResultMap" type="com.flyjaky.supermarket.entity.Menu" >
    <id column="mid" property="mid" jdbcType="BIGINT" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="orders" property="orders" jdbcType="TINYINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    mid, menu_name, created_at, updated_at, menu_url, orders, parent_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from menus
    where mid = #{mid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from menus
    where mid = #{mid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.flyjaky.supermarket.entity.Menu" >
    insert into menus (mid, menu_name, created_at, 
      updated_at, menu_url, orders, 
      parent_id)
    values (#{mid,jdbcType=BIGINT}, #{menuName,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{menuUrl,jdbcType=VARCHAR}, #{orders,jdbcType=TINYINT}, 
      #{parentId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.flyjaky.supermarket.entity.Menu" >
    insert into menus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        mid,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="menuUrl != null" >
        menu_url,
      </if>
      <if test="orders != null" >
        orders,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        #{mid,jdbcType=BIGINT},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=TINYINT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flyjaky.supermarket.entity.Menu" >
    update menus
    <set >
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="menuUrl != null" >
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="orders != null" >
        orders = #{orders,jdbcType=TINYINT},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
    </set>
    where mid = #{mid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flyjaky.supermarket.entity.Menu" >
    update menus
    set menu_name = #{menuName,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      menu_url = #{menuUrl,jdbcType=VARCHAR},
      orders = #{orders,jdbcType=TINYINT},
      parent_id = #{parentId,jdbcType=BIGINT}
    where mid = #{mid,jdbcType=BIGINT}
  </update>
  
  
  <resultMap type="com.flyjaky.supermarket.entity.Menu" id="menusForGetMenus">
  	<result column="menu_name" property="menuName"/>
  	<collection property="chs" ofType="com.flyjaky.supermarket.entity.Menu" >
  		 	<result column="menu_name" property="menuName"/>
  		 	<result column="menu_url"  property="menuUrl"/>
  	</collection>
  </resultMap>
  <select id="getMenus" resultMap="menusForGetMenus">
  	select
	 pm.menu_name,
	 ch.menu_name,
	 ch.menu_url
	from menus pm,menus ch where pm.mid=ch.parent_id;
  </select>
  
  
</mapper>