<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flyjaky.supermarket.dao.ProductOrderSheetDao" >
  <resultMap id="BaseResultMap" type="com.flyjaky.supermarket.entity.ProductOrderSheet" >
    <id column="osid" property="osid" jdbcType="BIGINT" />
    <result column="created_at" property="created_at" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updated_at" jdbcType="TIMESTAMP" />
    <result column="oid" property="oid" jdbcType="BIGINT" />
    <result column="pid" property="pid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    osid, created_at, updated_at, oid, pid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from product_order_sheet_tabs
    where osid = #{osid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from product_order_sheet_tabs
    where osid = #{osid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.flyjaky.supermarket.entity.ProductOrderSheet" >
    insert into product_order_sheet_tabs (osid, created_at, updated_at, 
      oid, pid)
    values (#{osid,jdbcType=BIGINT}, #{created_at,jdbcType=TIMESTAMP}, #{updated_at,jdbcType=TIMESTAMP}, 
      #{oid,jdbcType=BIGINT}, #{pid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.flyjaky.supermarket.entity.ProductOrderSheet" >
    insert into product_order_sheet_tabs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="osid != null" >
        osid,
      </if>
      <if test="created_at != null" >
        created_at,
      </if>
      <if test="updated_at != null" >
        updated_at,
      </if>
      <if test="oid != null" >
        oid,
      </if>
      <if test="pid != null" >
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="osid != null" >
        #{osid,jdbcType=BIGINT},
      </if>
      <if test="created_at != null" >
        #{created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_at != null" >
        #{updated_at,jdbcType=TIMESTAMP},
      </if>
      <if test="oid != null" >
        #{oid,jdbcType=BIGINT},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flyjaky.supermarket.entity.ProductOrderSheet" >
    update product_order_sheet_tabs
    <set >
      <if test="created_at != null" >
        created_at = #{created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_at != null" >
        updated_at = #{updated_at,jdbcType=TIMESTAMP},
      </if>
      <if test="oid != null" >
        oid = #{oid,jdbcType=BIGINT},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=BIGINT},
      </if>
    </set>
    where osid = #{osid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flyjaky.supermarket.entity.ProductOrderSheet" >
    update product_order_sheet_tabs
    set created_at = #{created_at,jdbcType=TIMESTAMP},
      updated_at = #{updated_at,jdbcType=TIMESTAMP},
      oid = #{oid,jdbcType=BIGINT},
      pid = #{pid,jdbcType=BIGINT}
    where osid = #{osid,jdbcType=BIGINT}
  </update>
</mapper>